/* 전역 설정 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip-path: inset(100%);
}

h3,
p {
  margin: 0;
}

:root {
  font-size: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* 앱 설정 */
/* 입력 구역 설정 */
.app-wrapper {
  width: 100%;
  padding-top: 20%;
}

.app-wrapper .form-wrapper {
  display: flex;
  justify-content: center;
}

.app-wrapper .form-wrapper #answer-input {
  width: 60%;
  padding-left: 1rem;
  padding-right: 3rem;
  border-radius: 2rem;
  font-size: 3rem;
}

.app-wrapper .form-wrapper #answer-button {
  width: 20%;
  color: #deefff;
  background: dodgerblue;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  margin-left: -3rem;
  cursor: pointer;
}

.app-wrapper .answer-notice {
  padding: 0 10%;
  font-size: 2rem;
  font-weight: bold;
  word-break: break-word;
}

/* 보여주기 화면 설정 */
.number-view {
  width: 80%;
  margin: 1rem auto;
}

.number-view h3 {
  box-sizing: border-box;
  color: #d1ede1;
  background: teal;
  text-align: center;
  font-size: 2rem;
  height: 5rem;
  padding-top: 1rem;
  border: 0.2rem solid black;
}

.number-view p {
  display: none;
  font-size: 1.6rem;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 1rem;
  border: 0.1rem solid black;
}
